<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BusinessDictMapper" >
  <resultMap id="BaseResultMap" type="BusinessDict" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="business" property="business" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, business
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from business_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from business_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="BusinessDict" >
    insert into business_dict (id, business)
    values (#{id,jdbcType=INTEGER}, #{business,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="BusinessDict" >
    insert into business_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="business != null" >
        business,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="business != null" >
        #{business,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="BusinessDict" >
    update business_dict
    <set >
      <if test="business != null" >
        business = #{business,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="BusinessDict" >
    update business_dict
    set business = #{business,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>