<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="src.main.java.mapper.CompanyMapper" >
  <resultMap id="BaseResultMap" type="src.main.java.model.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="business_id" property="businessId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="INTEGER" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="authentication_flag" property="authenticationFlag" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, business_id, company_name, phone, address, region, introduce, img, authentication_flag,
    remark, version, created_time, created_by, update_time, update_by, del_flag
  </sql>
  <sql id="where_list">
    <if test="businessId != null">
      business_id=#{businessId,jdbcType=INTEGER}
    </if>
    <if test="companyName != null">
      company_name=#{companyName,jdbcType=VARCHAR}
    </if>
    <if test="introduce != null">
      introduce=#{introduce,jdbcType=VARCHAR}
    </if>
    <if test="img != null">
      img=#{img,jdbcType=VARCHAR}
    </if>
    <if test="authenticationFlag != null">
      authentication_flag=#{authenticationFlag,jdbcType=TINYINT}
    </if>
    <if test="phone != null">
      phone=#{phone,jdbcType=VARCHAR}
    </if>
    <if test="address != null">
      address=#{address,jdbcType=VARCHAR}
    </if>
    <if test="region != null">
      region=#{region,jdbcType=INTEGER}
    </if>
    <if test="id != null">
      id=#{id,jdbcType=INTEGER}
    </if>
    <if test="ids != null and ids.size > 0">
      id in
      <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
        #{id,jdbcType=INTEGER}
      </foreach>
    </if>
    <if test="remark != null">
      remark=#{remark,jdbcType=VARCHAR}
    </if>
    <if test="delFlag != null">
      del_flag=#{delFlag,jdbcType=TINYINT}
    </if>
    <if test="version != null">
      version=#{version,jdbcType=VARCHAR}
    </if>
    <if test="createdTime != null">
      created_time=#{createdTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      update_time=#{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createdBy != null">
      created_by=#{createdBy,jdbcType=INTEGER}
    </if>
    <if test="updateBy != null">
      update_By=#{updateBy,jdbcType=INTEGER}
    </if>

  </sql>

  <select id="selectByOption" resultMap="BaseResultMap" parameterType="src.main.java.model.input.CompanyQuery">
    select
    <include refid="Base_Column_List"/>
    from city
    <where>
      <include refid="where_list"/>
    </where>
    order by id desc
  </select>
  <select id="countByOption" parameterType="src.main.java.model.input.CompanyQuery"
          resultType="java.lang.Integer">
    select count(*) from city
    <where>
      <include refid="where_list"/>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="src.main.java.dao.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="authenticationFlag != null" >
        authentication_flag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="authenticationFlag != null" >
        #{authenticationFlag,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="src.main.java.dao.Company" >
    update company
    <set >
      <if test="businessId != null" >
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="authenticationFlag != null" >
        authentication_flag = #{authenticationFlag,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>